@import "../../vars.css";

.emoji-item {
    cursor: pointer;
    vertical-align: text-top;
    color: var(--color-background);
    display: flex;
    background-color: rgba(248, 248, 248, 0.7);
    border: 2px solid var(--color-secondary-light);
    margin: 4px;
    padding: 8px 0;
    width: 7rem;
    border-radius: var(--border-radius);
    justify-content: center;
    align-items: center;
    font-size: 3.2rem;
    transition: all 0.2s ease-out;
    font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji",
    Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif;
}

.emoji-item:hover {
    text-shadow: 0 0 27px var(--color-select);
}